<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @laptop.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @laptop.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @laptop.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @laptop.quantity %>
</p>

<p>
  <strong>ram:</strong>
  <%= @laptop.ram %>
</p>

<p>
  <strong>cpu:</strong>
  <%= @laptop.cpu %>
</p>

<p>
  <strong>weight:</strong>
  <%= @laptop.weight %>
</p>

<%= link_to 'Edit', edit_admin_laptop_path(@laptop) %> |
<%= link_to 'Back', admin_laptops_path %>


